/* main font */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap'); 
/* sub font */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
/* font for nav */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');



*{
      margin:0;
      padding:0;
}


*, *:before, *:after{
      box-sizing: inherit;
}

html{
      box-sizing: border-box;
      font-family: 'Montserrat', sans-serif;
}


body{
      font-weight: 400;
      color: white;
      line-height: 1.5;
      height: 2000px;

}

ol, ul{
      list-style: none;
}

img{
      max-width: 100%;
      height: auto;
}

a{
      text-decoration: none;
}




